<launch>
  <!-- This launch file: V1! 
    This is the correct file to launch. -->
  <!-- See readme if doesn't run. -->
  
  <!-- run rtq-image-view -->
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <!-- <remap from="image" to="/fiducial_images" /> -->
  </node>

  <!-- run the main file --> <!-- this version 1 is the best -->
  <node pkg='COSI119-final-objectSorter' type='sorterv1.py' name="main" output='screen' />
  <!-- extra files -->
  <node pkg="COSI119-final-objectSorter" type="key_publisher.py" name="key" output="screen" output='screen' launch-prefix="xterm -e"/> 
  
</launch>